.filters {
    position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: start;
    // align-items: start;
    max-width: 250px;
    width: 100%;
    gap: 8px;
    @media (min-width: 769px) {
        display: none;
    }

    &__selectMenu {
        position: absolute;
        list-style-type: none;
        background-color: white;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

            &_button {
                // display: flex;
                // justify-content: space-between;
                color: var(--character-title-85, rgba(0, 0, 0, 0.85));
                /* Body 14/medium */
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px; /* 157.143% */
                @media screen and (max-width: 320px) {
                    border-radius: 4px;
                    border: 1px solid black;
                }
                }
        
        &_item:hover {
            background-color: lightgray;
          }
    }
}
